{
  "extends": ["airbnb"],
  "plugins": ["import"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-props-no-spreading": "off", // allows prop spreading (used primarily in src/components/link.jsx)
    "react/prop-types": "off", // does not require props validation in a React component definition
    "no-nested-ternary": "off", // allows nested ternaries
    "no-console": "off",
    "import/order": [ // order used for imports
      "error",
      {
        "groups": ["builtin", "external", "internal"], // group types of imports
        // react import comes before anything
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
