/* EDIT THIS FILE TO CUSTOMIZE THE THEME*/

/* || CUSTOM COLOR PALETTES */

// base palette
$custom-base-lightest: #ccdee2;
$custom-base-lighter: #9ab2b7;
$custom-base-light: #68868c;
$custom-base: #365961;
$custom-base-dark: #042d36;
$custom-base-ink: #001115;

// primary palette
$custom-primary-lighter: #daf4f6;
$custom-primary-light: #72d6dc;
$custom-primary: #0bb7c2;
$custom-primary-dark: #08888f;
$custom-primary-darker: #04595b;

// secondary palette
$custom-secondary-lighter: #fbd9e4;
$custom-secondary-light: #ee6d98;
$custom-secondary: #e1004b;
$custom-secondary-dark: #b20040;
$custom-secondary-darker: #720034;

// disabled palette
$custom-disabled-light: #e9e9e9;
$custom-disabled: #c4c4c4;
$custom-disabled-dark: #7b7b7b;

/* || CUSTOM TYPOGRAPHY */

// text color
$custom-text-color: "base-dark";
// sans serif font
$custom-font-type-sans: "public-sans";
// headings use sans serif font
$custom-font-role-heading: "sans";

/* || OTHER CUSTOMIZATIONS  */
 
//background image for hero
$custom-hero-image: '../images/hero.png';

// focus border color
$custom-focus-color: "primary";

/* ||  THEME SETTINGS */

/* 
it is recommended that you edit the custom variables above,
but you may edit the following theme settings directly if needed
 */

$theme-color-base-lightest: $custom-base-lightest;
$theme-color-base-lighter: $custom-base-lighter;
$theme-color-base-light: $custom-base-light;
$theme-color-base: $custom-base;
$theme-color-base-dark: $custom-base-dark;
$theme-color-base-ink: $custom-base-ink;

$theme-color-primary-lighter: $custom-primary-lighter;
$theme-color-primary-light: $custom-primary-light;
$theme-color-primary: $custom-primary;
$theme-color-primary-dark: $custom-primary-dark;
$theme-color-primary-darker: $custom-primary-darker;

$theme-color-secondary-lighter: $custom-secondary-lighter;
$theme-color-secondary-light: $custom-secondary-light;
$theme-color-secondary: $custom-secondary;
$theme-color-secondary-dark: $custom-secondary-dark;
$theme-color-secondary-darker: $custom-secondary-darker;

// currently, accent cool is the same as primary
//if you have the need for accent color palettes, you can set them here
$theme-color-accent-cool-lighter: white; //set to white in order to access white in mixins
$theme-color-accent-cool-light: $custom-primary-light;
$theme-color-accent-cool: $custom-primary;
$theme-color-accent-cool-dark: $custom-primary-dark;
$theme-color-accent-cool-darker: $custom-primary-darker;

// currently, accent warm is the same as secondary
$theme-color-accent-warm-lighter: $custom-secondary-lighter;
$theme-color-accent-warm-light: $custom-secondary-light;
$theme-color-accent-warm: $custom-secondary;
$theme-color-accent-warm-dark: $custom-secondary-dark;
$theme-color-accent-warm-darker: $custom-secondary-darker;

$theme-color-disabled-light: $custom-disabled-light;
$theme-color-disabled: $custom-disabled;
$theme-color-disabled-dark: $custom-disabled-dark;

$theme-text-color: $custom-text-color;
$theme-font-type-sans: $custom-font-type-sans;
$theme-font-role-heading: $custom-font-role-heading;

$theme-hero-image: $custom-hero-image;

$theme-focus-color: $custom-focus-color;
