/* || MOBILE */

@media (min-width: units('mobile')) {
  // footer nav links
  .usa-footer__primary-section {
    font-family: 'Space Mono';
    @include u-text('accent-cool-lighter');
    @include u-bg('base');
    margin-top: 0;
    padding: 0;
    .usa-link,
    .usa-link--external,
    .usa-footer__primary-link {
      @include u-text('accent-cool-lighter');
      padding: 0;
    }
  }

  .usa-footer__return-to-top {
    padding: units(1.5) units(2);
    a {
      @include link-theme('base-dark', 'primary', 'base-dark', 'primary');
      margin: units(1.5) 0;
    }
  }

  // department logo, terms & policies, and copyright & trademarks
  .usa-footer__secondary-section {
    @include u-text('accent-cool-lighter');
    @include u-bg('base-dark');
    .usa-link,
    .usa-link--external {
      @include u-text('accent-cool-lighter');
    }
    .footer__logo {
      width: units('mobile');
      height: auto;
    }
  }

  .footer__info {
    @include u-font-size('body', 1);
    @include u-text('normal');
  }

  .footer__info-link {
    margin: 0;
    padding-top: units(2);
  }

  .usa-footer__primary-link {
    margin-left: units(2);
    border: none;
  }
}

/* || DESKTOP */

@media (min-width: units('desktop')) {
  .footer-above {
    display: flex;
    justify-content: center;
    .footer-above__return-to-top {
      align-self: flex-end;
      position: absolute;
      right: 0;
    }
  }

  .usa-footer__return-to-top {
    a {
      @include link-theme('base-dark', 'primary', 'base-dark', 'primary');
      margin: units(1.5) 0;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &::after {
        border: 3px solid color('primary');
        content: '';
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 2px;
        margin: 0;
      }
      &:hover::after {
        border-width: 5px;
        bottom: 0px;
      }
      &:focus {
        outline: none;
      }
      &:focus::after {
        border-width: 5px;
        bottom: 0;
      }
    }
  }

  .footer__info {
    @include u-font-size('body', 1);
    @include u-text('bold');
  }

  .usa-footer__primary-section {
    padding: units(3) 0;
  }

  .usa-footer__primary-link {
    padding: units(1.5);
    margin: units(1.5) 0;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &::after {
      border: 3px solid color('primary');
      content: '';
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 2px;
      margin: 0;
    }
    &:hover::after {
      border-width: 5px;
      bottom: 0;
    }
    &:focus {
      outline: none;
    }
    &:focus::after {
      border-width: 5px;
      bottom: 0;
    }
  }
}
