.font-heading-xl,
.font-heading-xs,
.text-primary,
.usa-graphic-list__heading,
.usa-hero__heading,
.usa-intro,
.usa-prose {
  font-family: family("ui");
}

.usa-hero__callout,
.usa-nav__submenu,
.usa-section--dark {
  background-color: color("base-darker");
}

.usa-nav__primary {
  button[aria-expanded="true"] {
    background-color: color("base-darker");
  }
  button[aria-expanded="false"] {
    color: color("disabled-dark");
    &:hover {
      color: color("base-darker");
    }
    &::after {
      border: units("2px") solid color("secondary");
    }
  }
  .usa-nav__primary-item > a {
    color: color("disabled-dark");
    &:hover {
      color: color("base-darker");
    }
  }
}

.usa-button {
  color: color("base-darker");
  &:hover {
    color: color("base-darker");
    background-color: color("primary");
    border: units("2px") solid color("base-darker");
  }
  &:active {
    color: white;
    background-color: color("base-darker");
  }
  &:disabled {
    color: white;
    background-color: color("disabled");
  }
}

.usa-button--accent-warm {
  color: color("base-darker");
  background-color: color("secondary");
  &:hover {
    color: color("base-darker");
    background-color: color("secondary");
    border: units("2px") solid color("base-darker");
  }
  &:active {
    color: white;
    background-color: color("secondary-darker");
  }
  &:disabled {
    color: white;
    background-color: color("disabled");
  }
}

.usa-button--inverse {
  color: color("base-darker");
  background-color: color("base-light");
  &:hover {
    color: color("base-darker");
    background-color: color("base-lighter");
  }
  &:active {
    color: color("base-darker");
    background-color: white;
  }
  &:disabled {
    color: color("base-darker");
    background-color: color("base-dark");
  }
}

.usa-footer__primary-section {
  color: white;
  background-color: color("base-dark");
  .usa-link,
  .usa-link--external,
  .usa-footer__primary-link {
    color: white;
  }
}

.usa-footer__secondary-section {
  color: white;
  background-color: color("base-darker");
  .usa-link,
  .usa-link--external {
    color: white;
  }
}

.banner,
.banner__logo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .usa-accordion__button,
  .usa-nav__link {
    color: white;
    background-color: color("primary");
    button[aria-expanded="true"] {
      background-color: color("base-darker");
    }
  }
}

.banner__language-selector-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: color("base-darker");
  p {
    color: color("base-darker");
    padding-left: units("105");
  }
}

.language-selector__nav {
  .usa-nav__submenu .usa-nav__submenu-item a {
    text-decoration: none;
    &:hover {
      padding: units("2px");
      border-left: units("05") solid color("primary");
    }
  }
}

.usa-button--unstyled {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: color("base-darker");
    padding: units("2px");
    border-left: units("05") solid color("primary");
  }
}

.graphic_image--circle {
  border-radius: 50%;
}

.footer__logo {
  width: units("mobile");
  height: auto;
}
