//set text and background colors for NYC buttons
@mixin button-theme(
  $text-color,
  $text-hover,
  $text-active,
  $text-disabled,
  $bg,
  $bg-hover,
  $bg-active,
  $bg-disabled,
  $border-color
) {
  @include u-text($text-color);
  @include u-bg($bg);
  &:hover {
    @include u-text($text-hover);
    @include u-bg($bg-hover);
    border: units("2px") solid color($border-color);
  }
  &:active {
    @include u-text($text-active);
    @include u-bg($bg-active);
  }
  &:disabled {
    @include u-text($text-disabled);
    @include u-bg($bg-disabled);
  }
}

@mixin link-theme(
  $color,
  $border-bottom-color-active,
  $color-visited,
  $border-bottom-color-visited
) {
  @include u-text($color);
  &:active {
    border-bottom-color: color($border-bottom-color-active);
  }
  &:visited {
    @include u-text($color-visited);
    border-bottom-color: color($border-bottom-color-visited);
  }
}

@mixin link-size {
  border-bottom-width: units("1px") * 3;
}

@mixin link-size-expanded {
  border-bottom-width: units("1px") * 10;
}

//set flex with items aligned center and content justified space between
@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//set text, background, and border colors for language selector buttons
@mixin language-selector($direction, $direction) {
  &:hover {
    padding-#{$direction}: units("05");
    border-#{$direction}: units("05") solid color("primary");
  }
  .usa-button--unstyled {
    @include u-bg("base-dark");
    &:hover {
      @include u-text("accent-cool-lighter");
      text-decoration: none;
      @include u-bg("base-dark");
    }
  }
}

//background for hero callout, menus, and graphics section
.usa-hero__callout,
.usa-nav__submenu,
.usa-section--dark {
  @include u-bg("base-dark");
}

.usa-nav__primary {
  //nav button when dropdown menu is closed
  .usa-accordion__button[aria-expanded="false"] {
    @include u-text("disabled-dark");
    &:hover {
      @include u-text("base-dark");
    }
    &::after {
      border: units("2px") solid color("secondary");
    }
  }
  //nav button when dropdown menu is open
  .usa-accordion__button[aria-expanded="true"] {
    @include u-bg("base-dark");
  }
  .usa-nav__primary-item > a {
    @include u-text("disabled-dark");
    &:hover {
      @include u-text("base-dark");
    }
  }
}

.usa-link {
  @include link-theme(
    "base-dark",
    "base-dark",
    "primary-darker",
    "primary-darker"
  );
  text-decoration: none;
  @include link-size();
  border-bottom-style: solid;
  border-bottom-color: color("primary");
  &:hover {
    @include link-size-expanded();
  }
  &:active {
    @include link-size-expanded();
  }
}

.usa-link--light {
  /* not currently being used */
  @include link-theme(white, white, "primary-lighter", "primary-lighter");
}

//primary button
.usa-button {
  @include button-theme(
    "base-dark",
    "base-dark",
    "accent-cool-lighter",
    "accent-cool-lighter",
    "primary",
    "primary",
    "base-dark",
    "disabled",
    "base-dark"
  );
}

//warm button
.usa-button--accent-warm {
  @include button-theme(
    "base-dark",
    "base-dark",
    "accent-cool-lighter",
    "accent-cool-lighter",
    "secondary",
    "secondary",
    "secondary-darker",
    "disabled",
    "base-dark"
  );
}

//inverse button
.usa-button--inverse {
  @include button-theme(
    "base-dark",
    "base-dark",
    "base-dark",
    "base-dark",
    "base-lighter",
    "base-lightest",
    "accent-cool-lighter",
    "base-dark",
    "base-lighter"
  );
  &:hover {
    border: none;
  }
}

//footer nav links
.usa-footer__primary-section {
  @include u-text("accent-cool-lighter");
  @include u-bg("base");
  .usa-link,
  .usa-link--external,
  .usa-footer__primary-link {
    @include u-text("accent-cool-lighter");
  }
}

//department logo, terms & policies, and copyright & trademarks
.usa-footer__secondary-section {
  @include u-text("accent-cool-lighter");
  @include u-bg("base-dark");
  .usa-link,
  .usa-link--external {
    @include u-text("accent-cool-lighter");
  }
  .footer__logo {
    width: units("mobile");
    height: auto;
  }
}

//custom NYC banner
.banner {
  @include flex-center-space-between();
  .banner__logo-title,
  .banner__language-selector-label {
    @include flex-center-space-between();
  }
  //language nav button
  .usa-accordion__button {
    background-image: none;
    padding: 0 units("105");
    p {
      padding-left: units("105");
    }
    //language nav button when dropdown menu is closed
    &[aria-expanded="false"] {
      @include u-text("base-dark");
      @include u-bg("primary");
      p {
        @include u-text("base-dark");
      }
    }
    //language nav button when dropdown menu is open
    &[aria-expanded="true"] {
      @include u-text("accent-cool-lighter");
      @include u-bg("primary");
    }
  }
  //language buttons that look like links
  .usa-button--unstyled {
    @include u-text("accent-cool-lighter");
    text-decoration: none;
  }
  //right-to-left language buttons in dropdown menu
  .banner__language-selector-item--RtoL {
    display: flex;
    flex-direction: row-reverse;
    @include language-selector("right");
  }
  //left-to-right language buttons in dropdown menu
  .banner__language-selector-item--LtoR {
    @include language-selector("left");
  }
  //all language buttons when there are 5 or fewer languages
  .banner__language-selector-button-group {
    @include flex-center-space-between();
    .banner__language-selector-item {
      @include language-selector("top");
      margin: 0 units("105");
      &:hover {
        padding-top: 0;
      }
    }
  }
}

//circular images in graphics section
.graphic_image--circle {
  border-radius: 50%;
}
