/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-font-path: '../../node_modules/uswds/src/fonts';
$theme-image-path: '../../node_modules/uswds/src/img';

$theme-hero-image: '../images/cto_hero.png';

//Custom themes
@import './mocto-theme.scss';

@import 'uswds';

//Class overrides and custom classes
@import './class-overrides.scss';
