$mocto-primary: #042d36;
$mocto-accent-cool: #0bb7c2;
$mocto-secondary: #e1004b;
$mocto-base: #042d36;
$mocto-base-light: #f6f6f6;

$theme-color-primary: $mocto-primary;
$theme-color-primary-darker: $mocto-primary;
$theme-color-accent-cool: $mocto-accent-cool;
$theme-color-secondary: $mocto-secondary;
$theme-color-base: $mocto-base;
$theme-color-base-light: $mocto-base-light;