.usa-hero__callout {
  background-color: $mocto-dark-base;
}

.usa-hero__heading {
  color: $mocto-electric-blue;
}

.usa-button {
  background-color: $mocto-accent-red;
}

.usa-section--dark {
  background-color: $mocto-dark-base;
  h2 {
    color: $mocto-electric-blue;
  }
}
